
.navbar {
    color: rgb(236, 55, 55);
    position: absolute;
    display: flex;
    align-items: center;
width: 100%;
height: 67px;
position: fixed;
background-color: rgba(228, 222, 222, 0.911);
    font-family: Helvetica;
    font-weight: 300;
}


.navbar__title {
    border-radius: 40px;
    margin-right: auto;
    font-size: 150%;
    padding: 12px 20px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
.cartLogoHeader{
    border-radius: 20px;
}


  


  .side-panel-container {
    position: fixed;
    top: 0;
    right: -300px; /* adjust this value as needed */
    width: 300px; /* adjust this value as needed */
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(163, 75, 75, 0.5);
    transition: all 0.5s ease;
    
    z-index: 9999;
  }
  .side-panel-container.open {
    right: 0;
  }

  .SidePanelShoppingList{
    display: flex;
    justify-content: space-between;
    color:rgb(240, 43, 8);
    margin-left: 10px;
    margin-right: 10px;
  }
  .CloseIconShoppingCart{
    cursor: pointer;
    color:rgb(240, 43, 8);
    margin-top: 25px;
  }
  .ListOfItemsUserBuy{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }

  .quantity{
    display: flex;
    padding: 20px;
    gap: 10px;
  
  }
  .itemPictureOfSidePanel{
    border-radius: 20px;
  }

  .SubtractOrAdd{
    cursor: pointer;
  }

.btnCheckOut {
  margin-top: 20px;
  margin-left:15px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btnCheckOut:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btnCheckOut:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}